* {
  font-size: var(--customer-font-size);
}

.pager {
  margin-bottom: 1em;
}

input {
  border-radius: var(--customer-border-radius);
}

.btn {
  border-color: var(--customer-color);
  color: var(--customer-color);
  border-radius: var(--customer-border-radius);
}

.btn-next {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--customer-color);
}

.btn-back {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--customer-color);
}

.btn:hover {
  color: #111;
  border-color: var(--customer-color);
  box-shadow: 0 0 0 0.25rem var(--customer-color-low);
}

.form-check-input:focus-visible,
.form-check-input:focus,
.btn-check:focus-visible + .btn,
.btn-check:checked:focus-visible + .btn,
.btn:focus,
.btn:focus-visible {
  border-color: var(--customer-color);
  box-shadow: 0 0 0 0.25rem var(--customer-color-low);
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: #fff !important;
  background-color: var(--customer-color);
  border-color: var(--customer-color);
}

.form-control:focus {
  border-color: var(--customer-color);
  box-shadow: 0 0 0 0.25rem var(--customer-color-low);
}

.form-check-input:checked {
  background-color: var(--customer-color);
  border-color: var(--customer-color);
}
