* {
  font-size: var(--customer-font-size);
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.bottom {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  border-top: 1px solid #e9ecef;
}

.pager {
  margin-bottom: 1em;
}

input {
  border-radius: var(--customer-border-radius);
}

.btn {
  border-color: var(--customer-color);
  color: var(--customer-color);
  border-radius: var(--customer-border-radius);
}

.btn-next {
  margin-left: auto;
  background-color: var(--customer-color);
}

.btn-back {
  margin-right: auto;
  background-color: var(--customer-color);
}

.btn:hover {
  color: #111;
  border-color: var(--customer-color);
  box-shadow: 0 0 0 0.25rem var(--customer-color-low);
}

.form-check-input:focus-visible,
.form-check-input:focus,
.btn-check:focus-visible + .btn,
.btn-check:checked:focus-visible + .btn,
.btn:focus,
.btn:focus-visible {
  border-color: var(--customer-color);
  box-shadow: 0 0 0 0.25rem var(--customer-color-low);
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: #fff !important;
  background-color: var(--customer-color);
  border-color: var(--customer-color);
}

.form-control:focus {
  border-color: var(--customer-color);
  box-shadow: 0 0 0 0.25rem var(--customer-color-low);
}

.form-check-input:checked {
  background-color: var(--customer-color);
  border-color: var(--customer-color);
}
